<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="DentistryEntities" connectionString="metadata=res://*/Model.ModelDentistry.csdl|res://*/Model.ModelDentistry.ssdl|res://*/Model.ModelDentistry.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VLAD;initial catalog=Dentistry;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>