<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="DentistryEntities" connectionString="metadata=res://*/Model.ModelDentristry.csdl|res://*/Model.ModelDentristry.ssdl|res://*/Model.ModelDentristry.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VLAD;initial catalog=Dentistry;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>